@import url('https://fonts.cdnfonts.com/css/playfair-display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", sans-serif;
}

header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 20px 20px;
    padding-top: 0;
    padding-bottom: 0;
    background: #F0A04B;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 1;
}

header .right-bar .btnuser{
    width: 80px;
    height: 50px;
    background: transparent;
    border: 2px solid #FEFBE9;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #FEFBE9;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.0em;
    transition: .5s;
}


header .right-bar .btnuser:hover{
    color: #183A1D;
    background-color: #FEFBE9;
}

header .right-bar{
    display: flex;
    font-weight: bold;
}

header .left-bar a{
    position: relative;
    font-weight: bold;
    text-decoration: none;
    color: #FEFBE9;
    margin-right: 15px;
}

header .left-bar a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 4px;
    background: #FEFBE9;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

header .left-bar a:hover::after{
    transform: scaleX(1);
}

header #logo{
    width: 30%;
    height: 100%;
    align-content: center;
    background-size: contain;
}

header #logo img{
    width: 100%;
    height: 100%;
}

.philosophy-slider{
    overflow: hidden;
    width: 100%;
    height: 1024px;
}

.philosophy-slider figure{
    width: 500%;
    margin: 0;
    animation: animate 20s infinite;
    position: relative;
}

.philosophy-slider figure div{
    float: left;
    width: 20%;
    position: relative;
}

.philosophy-slider figure div img{
    width: 100%;
    height: 1024px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    position: relative;
}

.philosophy-slider figure div p{
    position: absolute;
    font-size: 60px;
    text-align: center;
    padding: 25%;
    color: #FFF;
    width: 100%;
    height: 1024px;
    font-style: italic;
    z-index: 1;
    background: rgba(0,0,0,0.3);
}

@keyframes animate {
    0%{left: 0%;}
    10%{left: 0%;}
    12%{left: -100%;}
    22%{left: -100%;}
    24%{left: -200%;}
    34%{left: -200%;}
    36%{left: -300%;}
    46%{left: -300%;}
    48%{left: -400%;}
    58%{left: -400%;}
    60%{left: -300%;}
    70%{left: -300%;}
    72%{left: -200%;}
    82%{left: -200%;}
    84%{left: -100%;}
    94%{left: -100%;}
    96%{left: 0%;}
}

.works{
    width: 100%;
    height: 800px;
    background-color: #E1EEDD;
    position: relative;
    display: flex;
    flex-direction: column;
}

.works-text{
    width: 500px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 3.1em;
    font-style: italic;
    padding-top: 15px;
}

.works-slider{
    position: relative;
    top: 0;
    left: 0;
    width: 60%;
    height: 640px;
    border: 3px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.works-slider img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: none;
    overflow: hidden;
}

.works-slider img.active{
    display: block;
}

.works-buttons{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.slider-works-button{
    background-color: #FEFBE9;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.slider-works-button:hover{
    background-color: #E1EEDD;
}

.slider-works-button.active{
    background-color: #183A1D;
    color: white;
}

.products{
    width: 100%;
    height: 1000px;
    background-color: #FEFBE9;
    display: flex;
    flex-direction: column;
    position: relative;
}

.products-text{
    width: 500px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: italic;
    padding-top: 30px;
}

.products-text h2{
    font-size: 2.4em;
}

.products-text p{
    font-size: 1.1em;
    padding-top: 15px;
}

.products-images{
    width: 100%;
    height: 800px;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    padding-left: auto;
    padding-right: auto;
}

.product-image{
    width: 30%;
    height: 350px;
    position: relative;
    margin: auto;
    border: 2px solid black;
    border-radius: 4px;
}

.product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews{
    width: 100%;
    height: 450px;
    position: relative;
    background-color: #E1EEDD;
}

.rev-slider{
    display: flex;
    overflow: hidden;
}

.rev-slide{
    flex: 0 0 100%;
    padding: 20px;
    text-align:left;    
    display: none;
    font-size: 1.4em;
}

.rev-slide.active{
    display: block;
}

.rev-slide h2{
    margin-top: 1%;
}

.rev-slide h3{
    margin-top: 2%;
}

.rev-slide p{
    line-height: 1.8;
    margin-top: 2%;
}

@media (max-width: 575px) {
    .rev-slide {
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    .rev-slide {
        font-size: 1.1em;
    }
}

.rev-slider-arrows{
    position: relative;
    top: 10%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.slide-arrow{
    background-color: #FEFBE9;
    border: none;
    padding: 20px;
    cursor: pointer;
    margin: 0 15px;
    font-size: 2.0em;
    font-weight: bold;
    border-radius: 200px;
}

.slide-arrow:hover{
    background-color: #183A1D;
    color: white;
}

.info-block{
    width: 100%;
    height: 1000px;
    background-color: #E1EEDD;
    padding-right: 60px;
    padding-left: 20px;
}

.info-block h1{
    color: #183A1D;
    font-size: 2.6em;
    margin-bottom: 30px;
    padding-top: 30px;
    font-weight: bolder;
}

.info-block p{
    font-size: 1.4em;
    line-height: 1.6;
}

@media (max-width: 360px) {
    .info-block {
        height: 92vh;
    }

    .info-block h1{
        font-size: 2.4em;
    }
    
    .info-block p{
        font-size: 0.6em;
    }
}

@media (min-width:360px) and (max-width: 667px) {
    .info-block {
        height: 92vh;
    }

    .info-block h1{
        font-size: 2.2em;
    }
    
    .info-block p{
        font-size: 0.6em;
    }
}

@media (min-width:667px) and (max-width: 1368px) {
    .info-block {
        height: 92vh;
    }

    .info-block h1{
        font-size: 2.4em;
    }
    
    .info-block p{
        font-size: 1.0em;
    }
}

.social-block{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FEFBE9;
    position: relative;
}

.social-logo{
    width: 60%;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    width: 20%;
    height: 80px;
    margin: auto;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.social-text{
    width: 60%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
}

.social-text h1{
    font-size: 2.8em;
    color: #183A1D;
    font-weight: bolder;
    text-align: center;
    font-style: italic;
    padding-bottom: 3%;
    line-height: 2;
}

.social-text p{
    font-size: 1.4em;
    text-align: justify;
}

.social-text ul{
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 3%;
    margin-bottom: 3%;
    list-style-position: inside;
    list-style-type: square;
    color: #183A1D;
}

@media (max-width: 900px) {
    .social-block{
        height: 92vh;
    }

    .social-text h1{
        font-size: 2.4em;
    }
    
    .social-text p{
        font-size: 1.3em;
    }
    
    .social-text ul{
        font-size: 0.8em;
        width: 80%;
    }
}

.loading-block{
    width: 100%;
    height: 100vh;
    background-color: #FEFBE9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    transition: opacity 0.75s visibility 0.75s;
}

.loading-block p{
    font-size: 2.8em;
    margin-right: 6%;
    font-weight: bolder;
    color: #183A1D;
}

.loading-block::after{
    content: "";
    width: 180px;
    height: 180px;
    border: 20px solid #E1EEDD;
    border-top-color: #183A1D;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

.error-block{
    width: 100%;
    height: 100vh;
    background-color: #E1EEDD;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.error-block p{
    width: 40%;
    height: 15%;
    font-size: 6vw;
    text-align: center;
}

.error-image{
    width: 30%;
    height: 40%;
}

.error-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #183A1D;
    color: white;
    font-size: 1.3vw;
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 1;
    bottom: 0;
}